.partners {
  background: white;
  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    margin: 27px 4px 22px;
    &1 {
      width: 70px;
      height: 9px;
    }
    &2 {
      width: 44px;
      height: 26px;
    }
    &3 {
      width: 86.95px;
      height: 22px;
    }
    &4 {
      width: 79.61px;
      height: 9px;
    }
    &5 {
      width: 76px;
      height: 18px;
    }
    &6 {
      width: 52px;
      height: 26px;
    }
    &7 {
      width: 81.75px;
      height: 12px;
    }
    &8 {
      width: 44.78px;
      height: 9px;
    }
  }
}

@media all and (min-width: 1200px) {
  .partners {
    flex-direction: row;
    justify-content: center;
    &__logos {
      justify-content: center;
    }
    &__logo {
      margin-right: 50px;
      &1 {
        width: 136px;
        height: 18px;
      }
      &2 {
        width: 80px;
        height: 48px;
      }
      &3 {
        width: 147px;
        height: 39px;
      }
      &4 {
        width: 160px;
        height: 18px;
      }
      &5 {
        width: 150px;
        height: 34px;
      }
      &6 {
        width: 100px;
        height: 51px;
      }
      &7 {
        width: 163px;
        height: 24px;
      }
      &8 {
        width: 90px;
        height: 18px;
      }
    }
  }
}
