$blue: #74e3ea;
$red: #ff2c7e;
$lavender: #d6b1ff;
$violet: #8c30f5;
$light-orange: #ffc446;
$dark-orange: #fd9a22;
$light-gray: #e1e2e4;
$gray: #6f6f6f;
$background: #eeeff1;
$dark-gray: #1e1e1e;
$main-header: "Jost", sans-serif;
$small-header: "Open Sans", sans-serif;
$main-font: "Poppins", sans-serif;
